.logo {
  font-size: 200px;
  font-size: clamp(150px, 10vw, 200px);
  line-height: 80%;
  color: var(--colors-gray);
  margin: 0;

  text-transform: uppercase;
}

.subheader {
  font-size: 128px;
  font-size: clamp(100px, 10vw, 128px);
  font-weight: var(--text-body-weight);
  line-height: 80%;
  color: var(--colors-gray);
  opacity: 50%;
  margin: 0;
  text-transform: uppercase;
}

.container {
  position: fixed;
  bottom: -270px;
  left: 0;

  transform: rotate(-90deg);
  transform-origin: top left;
}

@media (max-width: 1000px) {
  .container {
    bottom: auto;
    top: -13rem;
    transform: rotate(-180deg);
    transform-origin: center;
  }
}
