.sidebar {
  position: fixed;
  top: 1em;
  right: 20em;

  border: 10px solid var(--colors-gray);
  border-radius: 36px;
  min-width: 20%;
  background-color: rgba(0, 0, 0, 0.7);

  transform: translateY(0);
  transition: transform 420ms ease-in;
}

.toggleButton {
  opacity: 0;
  pointer-events: none;
  transition: opacity 420ms ease-in;
}

@media (max-width: 1000px) {
  .sidebar {
    min-width: 70%;
    right: 10em;
    transform: translateY(100%);
    font-size: 0.75rem;
  }
  .toggleButton {
    width: 42px;
    height: 42px;
    position: fixed;
    bottom: 6rem;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--colors-bg, #000);
    border: 2px solid;
    border-color: var(--colors-gray);
    border-radius: 22px;
    opacity: 1;
    pointer-events: all;
  }
}

.sidebarOpen {
  transform: translateY(0);
}

.toggleButtonIcon {
  transform: rotate(0);
  transition: transform 420ms ease-in;
}

.toggleButtonIconOpen {
  transform: rotate(180deg);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1em;

  color: var(--colors-text, "#E5E5E5");
}

.header {
  position: absolute;
  top: clamp(1em, 10vw, 6em);
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
}

.header h2 {
  font-size: 368px;
  font-size: clamp(300px, 10vw, 368px);
  line-height: 80%;
  margin: 0;
  transform: rotate(90deg);
  transform-origin: bottom right;
  color: #000;
}

.header h2:first-child {
  -webkit-text-stroke-width: 9px;
  -webkit-text-stroke-color: var(--colors-gray);
}

.header h2:nth-child(2n) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
